---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CardTag from "../components/CardTag.astro";
import CardLink from "../components/CardLink.astro";
import Subtitle from "../components/Subtitle.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import novelNexusThumbnail from "../assets/novel-nexus/book-view@0.5x.jpg";
import scrumptiousThumbnail from "../assets/scrumptious-recipes/scrumptious-main.jpg";
import carThumbnail from "../assets/car-dealership/car-dealership.jpg";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div>
      <section class="hero">
        <div class="color-red"></div>
        <div class="color-blue"></div>
        <div></div>
        <div class="content">
          <h2>Josh Daisuke Vasquez</h2>
          <h4>Web Developer</h4>
          <div>
            <a
              href="https://www.linkedin.com/in/joshuadvasquez/"
              target="_blank"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                ><path
                  d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
                ></path></svg
              ></a
            >

            <a href="https://www.gitlab.com/least/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                ><path
                  d="M21.6634 9.98693L21.6354 9.91531L18.9164 2.82092C18.8612 2.68178 18.7634 2.56365 18.6371 2.48339C18.5098 2.40304 18.3607 2.36419 18.2104 2.37219C18.0601 2.38019 17.9159 2.43464 17.7979 2.52804C17.6809 2.62181 17.5966 2.75012 17.5569 2.89466L15.7187 8.52049H8.28157L6.44336 2.89466C6.40366 2.75012 6.31934 2.62181 6.20241 2.52804C6.08487 2.43402 5.94083 2.37915 5.79052 2.37114C5.64021 2.36313 5.49116 2.40238 5.36429 2.48339C5.2374 2.56332 5.13921 2.68153 5.08388 2.82092L2.36183 9.92462L2.33379 9.99524C1.94304 11.0184 1.895 12.1407 2.19691 13.1934C2.49882 14.2462 3.13436 15.1725 4.00794 15.833L4.01832 15.8402L4.04221 15.8589L8.18917 18.9632L10.2393 20.5159L11.4856 21.4599C11.6319 21.5705 11.8104 21.6304 11.9939 21.6304C12.1774 21.6304 12.3559 21.5705 12.5023 21.4599L13.7486 20.5159L15.7997 18.9632L19.9706 15.8402L19.9819 15.8319C20.8585 15.1721 21.4966 14.245 21.7999 13.1906C22.1033 12.1362 22.0553 11.0117 21.6634 9.98693Z"
                ></path></svg
              ></a
            >
            <a href="https://www.github.com/daisukev/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                ><path
                  d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"
                ></path></svg
              ></a
            >
          </div>
        </div>
        <div class="next">
          <a href="#projects" class=""
            >Projects
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              ><path
                d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
              ></path></svg
            >
          </a>
        </div>
      </section>
      <section id="projects">
        <h3>Projects</h3>
        <div class="card-container">
          <div class="card">
            <!-- <img src="novel-nexus/book-view@0.5x.jpg" alt="Novel Nexus" /> -->
            <div class="card-img">
              <Image src={novelNexusThumbnail} alt="Novel Nexus" />
            </div>
            <div class="card-content">
              <h4>Novel Nexus</h4>
              <Subtitle>Novel Sharing Website</Subtitle>
              <div class="tags">
                <CardTag>React</CardTag>
                <CardTag>FastAPI</CardTag>
                <CardTag>PostgreSQL</CardTag>
              </div>
              <CardLink href="https://novel-nexus.gitlab.io/novel-nexus">
                Novel Nexus
              </CardLink>
            </div>
            <div class="card-sidebar">hello</div>
          </div>
          <div class="card">
            <Image src={scrumptiousThumbnail} alt="Scrumptious Recipes" />
            <div class="card-content">
              <h4>Scrumptious Recipes</h4>

              <div class="tags">
                <CardTag>Django</CardTag>
                <CardTag>HTML</CardTag>
                <CardTag>CSS</CardTag>
                <CardTag>Javascript</CardTag>
              </div>
            </div>
          </div>
          <div class="card">
            <Image src={carThumbnail} alt="Car Dealership" />
            <div class="card-content">
              <h4>Car Dealership</h4>
            </div>
          </div>
        </div>
        <div class="next">
          <a href="#about-me" class=""
            >About Me
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              ><path
                d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
              ></path></svg
            >
          </a>
        </div>
      </section>
    </div>
    <section id="about-me">
      <div class="about">
        <h3>About Me</h3>
        <img src="portrait.jpg" alt="avatar" />

        <p>
          Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
          enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
          exercitation amet. Nisi anim cupidatat excepteur officia.
          Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
          voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
          officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
          commodo officia dolor Lorem duis laboris cupidatat officia voluptate.
          Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis
          officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis
          sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea
          consectetur et est culpa et culpa duis.
        </p>
        <div class="next">
          <a href="#about-me" class=""
            >About Me
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              ><path
                d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
              ></path></svg
            >
          </a>
        </div>
      </div>
    </section>
    <Footer />
    <style>
      img {
        display: block;
        max-width: 100%;
        /* max-height: 100%; */
        height: auto;
        /* border: 5px solid var(--clr-neutral-dark); */
        /* box-shadow: 8px 8px 0 0 red; */
        /* box-shadow: clamp(8px, 1vw, 15px) clamp(8px, 1vw, 15px) 0 0 */
        /*   rgba(140, 174, 182, 0.25); */
        /* margin-block: 0.5rem; */
      }
      a {
        text-decoration: none;
      }
      section {
        min-height: 100dvh;
      }
      section > div {
      }
      h5 {
        font-weight: 300;
      }
      .hero {
        min-height: revert;
        height: calc(100dvh - var(--header-height));
        position: relative;
        z-index: 1;
        display: grid;
        place-content: center;
        grid-template-rows: 1fr 1fr 1fr;
        --circle-size: clamp(200px, 35vw, 750px);
        --blur: clamp(30px, calc(10px + 2vw), 120px);
        overflow: hidden;
        isolation: isolate;
      }
      .content h2 {
        font-size: clamp(3.062rem, 6vw, 8rem);
      }
      .next {
        align-self: end;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        z-index: 4;
        font-weight: 500;
        color: var(--clr-neutral-dark);
      }
      .next a {
        display: grid;
        place-content: center;
      }
      .next a:hover path {
        fill: var(--clr-accent-darker);
      }
      .next a:hover {
        color: var(--clr-accent-darker);
      }
      .next a svg {
        justify-self: center;
      }
      .next svg {
        display: block;
      }
      h4 {
        font-weight: 400;
        font-size: clamp(1.25rem, 2vw, 1.75rem);
        /* margin-block: 0.5rem; */
      }
      .content {
        padding: 1rem;
        z-index: 4;
        mix-blend-mode: color-burn;
      }
      .content > * {
        margin-block: 0.2rem;
      }
      svg {
        width: clamp(32px, 5vw, 50px);
        height: clamp(32px, 5vw, 50px);
      }
      svg path {
        transition: 0.2s;
      }
      .content a:hover svg path {
        fill: var(--clr-secondary-darker);
      }

      .hero::after {
        content: "";
        inset: 0;
        z-index: 3;
        position: absolute;
        background-image: url("/grain.svg");
        opacity: 0.5;
        pointer-events: none;
      }

      #projects {
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: clamp(0.85rem, 2vw, 2rem);
        margin: 0 auto;
        max-width: 1450px;
      }

      #about-me {
        position: relative;
        display: grid;
        place-content: center;
      }
      #about-me > * {
        z-index: 1;
        color: var(--clr-neutral-light);
      }

      #about-me::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        background: var(--clr-secondary-darker);
        mix-blend-mode: multiply;
        /* opacity: 0.8; */
      }

      .about {
        display: grid;
        padding: clamp(0.5rem, 1vw, 2rem);
        max-width: 60ch;
      }
      .color-red {
        inset: 22% 43%;
        position: absolute;
        height: var(--circle-size);
        width: var(--circle-size);
        background: var(--clr-accent);
        border-radius: 50%;
        filter: blur(var(--blur));
        z-index: 2;
      }

      .color-blue {
        inset: 32% 8%;
        position: absolute;
        height: var(--circle-size);
        width: var(--circle-size);
        background: var(--clr-secondary);
        border-radius: 50%;
        filter: blur(var(--blur));
        z-index: 2;
      }

      .top-button {
        z-index: 4;
        position: sticky;
        bottom: 4rem;
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        color: #fff;
        background: #000;
        border-radius: 100px;
      }
      .btn-container {
        display: flex;
        justify-content: flex-end;
      }
      .card-container {
        margin-top: 1rem;
        display: grid;
        place-content: center;

        gap: 3rem;
      }
      .card {
        /* overflow: hidden; */
        display: grid;
        background: var(--clr-neutral-light);
        border: 2px solid var(--clr-neutral-dark);
        box-shadow: clamp(8px, 1vw, 15px) clamp(8px, 1vw, 15px) 0 0
          rgba(140, 174, 182, 0.85);
        grid-template-columns: 1fr;
        grid-template-areas:
          "image"
          "content"
          "sidebar";
        /* aspect-ratio: 9/10; */
      }
      .card-img {
        grid-area: image;
      }
      .card img {
        width: 100%;
        border-bottom: 1px solid var(--clr-neutral-dark);
      }
      .card-sidebar {
        display: flex;
        background: var(--clr-neutral-dark);
        color: var(--clr-neutral-light);
        grid-area: sidebar;
      }
      .card-content {
        padding: clamp(0.5rem, 1vw, 2rem);
        grid-area: content;
      }
      .tags {
        display: flex;
        gap: 0.75rem;
        margin-block: 0.5rem;
      }

      @media (min-width: 768px) {
        .card {
          grid-template-areas:
            "image sidebar"
            "content sidebar";
          grid-template-columns: 1fr 60px;
        }
        .card-container {
          /* grid-auto-flow: column; */
        }
      }
    </style>
    <div class="btn-container">
      <a href="#" class="top-button">Top ↑</a>
    </div>
  </body>
</html>
